body {
    font-family: Montserrat, sans-serif;
    color: #131313;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

p {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

.container {
    width: 320px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

/* header */
.ice-cream-header {
    background-color: #84A178;
    padding-top: 12px;
    padding-bottom: 239px;
    background-image: url(./images/header/mob/ice-cream-bg-main.png), url(./images/header/mob/yellow-dots-bg-main.png);
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-position: 50% 190px, 0 450px;
}

.header-navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 58px;
}

.header-navigation-list-logo-icon {
    fill: #F8D24E;
}

.header-navigation-list-burger-icon {
    stroke: #FFFFFF;
}

.header-main-title {
    color: #FCFCFC;
        font-family: Seymour One;
        font-size: 26px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.04;
        text-transform: uppercase;
        text-align: start;
        margin-bottom: 32px;
}

.header-btn-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: start;
}

.header-btn-list-product {
    width: 62px;
        height: 24px;
    border-radius: 8px;
        border: 2px solid #F8D24E;
        background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
        font-size: 8px;
        font-weight: 600;
        line-height: normal;
}

.header-btn-list-hitsm {
    display: flex;
        width: 82.8px;
        height: 24px;
        justify-content: center;
        align-items: center;
background-color: transparent;
border: none;
color: #F8D24E;
    font-size: 8px;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;

}

/* section-1-products */
.product-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(./images/section-1/mob/products-bg.png);
    background-size: 100%;
    background-repeat: repeat-y;
}

.product-section-main-text {
        text-align: center;
        font-size: 18px;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 12px;
}

.product-section-main-title {
        text-align: center;
        font-family: Seymour One;
        font-size: 30px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 148px;
}

.product-section-list-item:not(:last-child) {
    margin-bottom: 164px;
}

.product-section-list-item {
    border-radius: 24px;
    width: 280px;
    padding-top: 123px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}

.product-section-list-item-1 {
    background-color: #AEC6A5;
}

.product-section-list-item-2 {
background-color: #EFD478
}

.product-section-list-item-3 {
    background-color: #D6936D;
}

.product-section-img-container {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: -96px;
    left: auto;
}

.product-section-img-container-1 {
background-color: rgba(156, 190, 143, 0.70);
}

.product-section-img-container-2 {
background-color: rgba(248, 210, 78, 0.70);
}

.product-section-img-container-3 {
background-color: rgba(213, 117, 63, 0.70);
}

.product-section-img {
position: absolute;
top: -10px;

}

.product-section-list-item-title {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 40px;
}

.product-section-list-item-description {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.7;
        letter-spacing: 0.04em;
        margin-bottom: 90px;
}

.icon-order-now {
    fill: #131313;
    margin-left: auto;
    margin-right: auto;
}

.icon-order-now-btn {
    width: 200px;
margin-left: auto;
    margin-right: auto;
background-color: transparent;
border: none;

}

/* section-2 */
.how-made-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #84A178;
}

.how-made-section-description {
    color: #FCFCFC;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 12px;
}

.how-made-section-title {
    color: #FCFCFC;
        text-align: center;
        font-family: Seymour One;
        font-size: 30px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 32px;
}

.how-made-section-img-container {
    background-image: linear-gradient(0deg, rgba(248, 210, 78, 0.70) 0%, rgba(248, 210, 78, 0.70) 100%);
    border-radius: 50%;
    max-width: 278px;
    height: 278px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 62px;
}

.how-made-section-img {
position: absolute;
top: 20px;
}

.how-made-section-list {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 42px;
}

.how-made-section-list-item {
    color: #FCFCFC;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.7;
        letter-spacing: 0.04em;
}

.how-made-section-list-item:not(:last-child) {
    margin-bottom: 20px;
}

.how-made-section-list-btn {
    width: 164px;
        height: 42px;
    background-color: #F8D24E;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    border-radius: 10px;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.2;

}

.how-made-btn-icon {
    stroke: #131313;
    fill: none;
    width: 12px;
    height: 12px;
}

.how-made-features-list {
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

.how-made-features-icon-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F8D24E;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.how-made-features-icon {
    fill: #131313;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.how-made-features-description-1 {
    color: #FCFCFC;
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.04;
        text-transform: uppercase;
        margin-bottom: 18px;
}

.how-made-features-description-2 {
    color: #FCFCFC;
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.7;
}

/* section 3 rev */
.section-rev {
    background-image: url(./images/section-revievs/mob/mob-bg-section-rev.png);
    background-size: 100%;
    background-repeat: repeat-y;
    padding-bottom: 388px;
}

.section-rev-main-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    margin-bottom: 75px;
    max-width: 279px;
    border-radius: 7px;
}

.is-hidden {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}

.rev-list-img-container {
    max-width: 100px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 25px;
}

.rev-list-text {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(132, 161, 120);
    border-radius: 10px;
    padding: 34px 39px;
    margin-bottom: 30px;
    color: rgb(252, 252, 252);
        font-size: 12px;
        font-weight: 400;
        line-height: 255%;
        letter-spacing: 0;
        text-align: center;
}

.rev-list-name {
    max-width: 189px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(19, 19, 19);
        font-size: 20px;
        font-weight: 500;
        line-height: 186%;
        letter-spacing: 0;
}

/* section 4 info cards */
.section-info-cards {
    background-color: rgb(132, 161, 120);
    padding-top: 1030px;
    position: relative;
    padding-bottom: 20px;
    }

.info-cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -320px;
}

.info-cards-list-item {
    max-width: 280px;
    padding: 40px 32px;
    border-radius: 24px;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
    background: rgb(252, 252, 252);
}

.info-cards-list-item-title {
    max-width: 80px;
    text-align: center;
    background-color: rgb(248, 210, 78);
    border-radius: 4px;
    margin-right: auto;
    color: rgb(19, 19, 19);
        font-size: 12px;
        font-weight: 500;
        line-height: 186%;
        letter-spacing: 0.04em;
        margin-bottom: 20px;
}

.card-title-ecxeption {
    max-width: 130px;
}

.info-cards-list-item-city {
    color: rgb(19, 19, 19);
        font-size: 12px;
        font-weight: 500;
        line-height: 186%;
        letter-spacing: 0.04em;
        text-align: left;
        margin-bottom: 8px;
}

.info-cards-list-item-address {
    color: rgb(214, 147, 109);
        font-size: 12px;
        font-weight: 500;
        line-height: 183%;
        letter-spacing: 0.04em;
        text-align: left;
        margin-bottom: 48px;
        position: relative;
}

.info-cards-list-item-address::after {
    content: "";
    height: 1px;
    width: 240px;
    background-color: rgb(225, 225, 225);
    position: absolute;
    top: 70px;
    left: 0;
}

.info-cards-list-item-days {
    color: rgb(19, 19, 19);
        font-size: 12px;
        font-weight: 500;
        line-height: 186%;
        letter-spacing: 0;
        text-align: left;
}

.info-cards-list-item-hours-1, .info-cards-list-item-hours-2 {
color: rgb(171, 171, 171);
    font-size: 12px;
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 0;
    text-align: left;
}

.info-cards-list-item-hours-1 {
    margin-bottom: 8px;
}
.info-cards-list-item-hours-2 {
    margin-bottom: 48px;
    position: relative;
}

.info-cards-list-item-hours-2::after {
    content: "";
    height: 1px;
    width: 240px;
    background-color: rgb(225, 225, 225);
    position: absolute;
    top: 45px;
    left: 0;
}

.info-cards-list-item-mail-link, .info-cards-list-item-phone-link {
color: rgb(19, 19, 19);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
}

.info-cards-btn-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 196px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 32px; */
}

.info-cards-btn-list-item-svg {
    fill: none;
    stroke: #131313;
}

.info-cards-btn-list-1-item, .info-cards-btn-list-2-item {
width: 196px;
height: 42px;
background-color: rgb(248, 210, 78);
padding: 12px 34px;
display: flex;
gap: 10px;
justify-content: center;
align-items: center;
outline: transparent;
border-radius: 10px;
border: 1px solid transparent;
color: rgb(19, 19, 19);
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0;
}

.info-cards-btn-list-2-item {
    background-color: transparent;
    border: 2px solid rgb(248, 210, 78);
}

/* footer */
.footer-section {
    padding-top: 20px;
    background-color: rgb(132, 161, 120);
    padding-bottom: 60px;
}

.footer-section-title {
    color: rgb(252, 252, 252);
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0;
        text-align: left;
        text-transform: uppercase;
        max-width: 232px;
        margin-bottom: 16px;
}

.footer-section-main-text {
    color: rgb(252, 252, 252);
        font-size: 34px;
        font-weight: 700;
        line-height: 41px;
        letter-spacing: 0.04em;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 42px;
        max-width: 200px;
}

.footer-icons-list {
    fill: rgb(132, 161, 120);
}

.footer-link {
    width: 32px;
    border-radius: 50%;
    height: 32px;
    background-color: rgb(248, 210, 78);
display: flex;
justify-content: center;
align-items: center;

}

.footer-link-list {
    display: flex;
    gap: 28px;
    justify-content: end;
    margin-bottom: 38px;
}

.footer-text {
        font-size: 12px;
        font-weight: 700;
        line-height: 186%;
        letter-spacing: 0;
        text-align: right;
}

.footer-last-number {
color: rgb(252, 252, 252);
        font-size: 12px;
        font-weight: 700;
        line-height: 186%;
        letter-spacing: 0;
        text-align: right;
        margin-bottom: 40px;
        max-width: 150px;
        margin-left: auto;
        display: block;
}

.footer-last-text {
    color: rgb(122, 122, 122);
        font-size: 14px;
        font-weight: 700;
        line-height: 152%;
        letter-spacing: 0;
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}

/* modal mobile menu */
.modal-mob-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(132, 161, 120);
    padding-top: 12px;
    padding-bottom: 57px;
}

.modal-visible {
    display: block;
}

.mob-menu-nav {
    display: flex;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 48px;
    align-items: center;
}


.mob-menu-link-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.mob-menu-close-btn {
    outline: transparent;
    background-color: transparent;
    border: 1px solid transparent;
    transition: fill 250ms ease-in-out;
}

.mob-menu-close-btn:hover {
fill: white
}

.mob-menu-link {
    color: rgb(252, 252, 252);
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0;
        text-align: center;
}

.mob-menu-link-current {
    color: rgb(19, 19, 19);
}

.mob-menu-buy-btn {
    border-radius: 10px;
    background: rgb(248, 210, 78);
        width: 152px;
        height: 42px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(19, 19, 19);
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0;
        text-align: center;
}

.mob-menu-buy-btn:hover {

}

.mob-menu-buy-btn-icon {
    fill: transparent;
    stroke: black;
}

/* modal buy now */
.modal-buy-now {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: rgb(252, 252, 252);
    border-radius: 5px;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

